body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 40px;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #ff4757;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.movie-card {
  background-color: #1e1e1e;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.movie-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
